<header>
  <a href="/" class="title">SMART TO DO</a>
  <i class="fa-solid fa-bolt-lightning fa-beat"></i>

  <div class="header-right">

    <button type="submit" class="btn btn-light" name="profilebtn"><a href="/profile">Profile</a></button>

    <form method="POST" action="/logout">
      <button type="submit" class="btn btn-light">Logout</button>
      </button>



    </button>
  </div>
</header>
