<header>
  <a href="/" class="title">SMART TO DO</a>
  <i class="fa-solid fa-bolt-lightning fa-beat"></i>
  <div class="header-right">
    <button type="submit" class="btn btn-light" name="loginbtn"><a href="/login">Login</a></button>
    <button type="submit" class="btn btn-light" name="registerbtn"><a href="/register">Register</a>
    </button>
  </div>
</header>